<html>
	<head>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	</head>
	<body>
		<div>
			<table align="center">
				<tr>
					<td colspan="2" align="center" style="font-weight:bold">New User Registration</td>
				</tr>
				<tr>
					<td><br><td>
				</tr>
				<tr>
					<td>Username (e-mail)</td>
					<td><input type="text" id="reg-username"></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" id="reg-password"></td>
				</tr>
				<tr>
					<td>Re-enter password</td>
					<td><input type="password" id="reg-password2"></td>
				</tr>
				<tr>
					<td colspan="2" align="right"><button type="button" id="register-btn">Register</button></td>
				</tr>
				<tr>
					<td colspan="2" align="right"><a href="../index">Back to the system</a></td>
				</tr>
			</table>
		</div>
	</body>
	<script>
		$('#register-btn').click(function() 
		{
			var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  			var is_email = re.test($('#reg-username').val());
  			if(!is_email)
  			{
  				alert('Username must be valid email address!');
  			}
  			else
  			{
  				var password1 = $('#reg-password').val();
  				var password2 = $('#reg-password2').val()
				if(password1!=password2)
  				{
  					alert("Passwords doesn't match!");
  				}
  				else
  				{
  					var username = $('#reg-username').val();
  					var password = $('#reg-password').val();
  					$.ajax({
  						url:'../create_user',
  						data:{username:username,password:password}
  					}).done(function(msg) 
  					{
  						if(msg=="Success")
  						{
  							alert("Registration Successful!");
  							window.location.replace("../index/");
  						}
  						else if(msg=="Fail")
  						{
  							alert("Username already existed!")
  						}
  					});
  				}
  			}
		});
	</script>
</html>
